.big-text {
  font-size: 50px;
}
.big-text:nth-child(5) {
  font-style: italic;
}
.big-text:nth-child(even) {
  color: blue;
}
.big-text:nth-child(even) {
  color: yellow;
}

/* .big-text:hover {
  color: green !important;
} */

p::after {
  content: "This is a text before the p tag";
  color: green !important;
}
